# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

W4D1_nftmarket.sol
RentNFTMarket.sol
IRentNFTMarket.sol